
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@keyframes circleRotate {
  to {
    transform: translate(-50%, -50%) rotate(calc(var(--rotate) + 360deg));
  }
}

.circle-span {
  display: block;
  position: absolute;
  height: calc((100vw / 6) * 2 + 50px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(var(--rotate));
  text-transform: uppercase;
  color: #fff;
  font-size: small;
  animation: circleRotate 20s linear infinite;
}

/* Additional custom styles that can't be easily replicated with Tailwind */
.slider-mask {
  -webkit-mask-image: radial-gradient(
    calc(100vw / 6), 
    transparent 100%, 
    #000
  );
  mask-image: radial-gradient(
    calc(100vw / 6), 
    transparent 100%, 
    #000
  );
}